<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <title>密码重置确认</title>
    <link rel="stylesheet" href="../static/css/forget_and_change.css">
    <link rel="stylesheet" href="../static/css/MainPage.css">
</head>
<body>
<div class="header">
        <div class="container">
                <div class="left">
                    <a class="word1" href="/mainpage/">VICTORY</a>
<!--                    <a class="word2"  style="margin-left: 60px;">首页</a>-->
                    <a class="word2" href="/mainpage2/">个人中心</a>
                    <a class="word2" href="/fanjuinformation/">番剧信息</a>
                    <a class="word2" href="">数据分析</a>
                    <a class="word2" href="/ranklist/">总排行榜</a>

                </div>
        </div>
 </div>
<div >
    <h1>修改认</h1>
    <form method="post" action="">
        {% csrf_token %}
        <input type="email" id="email1" name="email1" required placeholder="请输入新的邮箱">
        <input type="email" id="email2" name="email2" required placeholder="确认新的邮箱">
        <button type="submit">确认修改邮箱</button>
        <div>
            <style>
                h5{
                    color: red;
                }
            </style>
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
        </div>
    </form>
</div>
</body>
</html>